/* * {
  border: 1px solid gold;
} */

:root {
  --clr-primary: hsla(0, 0%, 90%, 1);
  --clr-secondary: rgb(176, 0, 176);

  --clr-second-main: hsla(210, 100%, 60%, 1);

  --ff-primary: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: black;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
}

header,
section {
  padding: 2rem 0;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #26272b;
  clip-path: inset(0 -100vmax);
}

footer,
header {
  background-color: #26272b;
  justify-content: center;
  text-align: center;
  width: min(95%, 70.5rem);
  margin-inline: auto;
}

header .header-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

header .header-text .header-right h2,
header .header-text .header-left p {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, purple, violet, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  white-space: wrap;
}

header .header-text .header-right p {
  font-style: italic;
  font-size: 0.8rem;
}

section .content {
  margin-inline: auto;
  width: min(70%, 70.5rem);
}

.content-header {
  text-align: center;
  margin-bottom: 2rem;
}

.content-header p {
  font-style: italic;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.clocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.clock-block > h3 {
  margin-bottom: 0.8rem;
  font-style: italic;
  font-weight: 700;
}

.clock-time {
  font-size: 1rem;
  font-style: italic;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.footer-split {
  margin-top: 1rem;
  width: 50%;
  line-height: 2.2;
  text-align: start;
}

.footer-split h4 {
  color: white;
}

.footer-split li,
.footer-split p {
  margin-top: 0;
  color: #737373;
  font-size: 0.8rem;
}

.footer-split ul {
  margin-top: 0;
}

.footer-split:nth-child(2) {
  border-bottom: #737373 solid;
}

.footer-social-media {
  margin-left: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-element {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-element p {
  font-size: 0.6rem;
}

.clock-border {
  border-radius: 30%;
  border: 0.5rem solid;
  border-color: #26272b;
}

/* Sizing, positioning of main dial of the clock */
.clock {
  width: 10rem;
  height: 10rem;
  background-color: white;
  background-size: cover;
  border-radius: 25%;
  position: relative;
  background-image: radial-gradient(
      circle at center,
      white 50%,
      transparent 50%,
      transparent 65%,
      white 65%
    ),
    linear-gradient(to right, transparent 50%, black 50%, transparent 51%),
    linear-gradient(to bottom, transparent 50%, black 50%, transparent 51%),
    linear-gradient(-30deg, transparent 50%, black 50%, transparent 51%),
    linear-gradient(30deg, transparent 50%, black 50%, transparent 51%),
    linear-gradient(60deg, transparent 50%, black 50%, transparent 51%),
    linear-gradient(-60deg, transparent 50%, black 50%, transparent 51%);
}

.hr,
.min,
.sec {
  width: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;
  z-index: 2;
  border-radius: 2em;
}

.pin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  background: black;
  border-radius: 35%;
  margin: auto;
  z-index: 10;
}

/* Different length of different hands of clock */
.hr {
  height: 25%;
  width: 0.3rem;
  background-color: black;
}

.min {
  height: 30%;
  width: 0.2rem;
  background-color: black;
}

.sec {
  height: 40%;
  background-color: purple;
  transform-origin: 50% 85%;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  color: black;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="text"] {
  color: white;
  background-color: transparent;
  border: var(--clr-secondary) solid;
  border-width: 0 0 0.1rem 0;
  outline: none;
  margin-top: 0.2rem;
}

.autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  font-size: 1rem;
  top: 100%;
  left: 0%;
  right: 0%;
}

.autocomplete-items div {
  padding: 0.6rem;
  font-style: italic;
  color: white;
  cursor: pointer;
  border-bottom: 0.1rem solid purple;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(10, 10, 10, 0.65);
  box-shadow: 0 8px 32px rgb(2, 4, 24);
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--clr-secondary);
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--clr-secondary) !important;
  color: #ffffff;
}

input[type="submit"] {
  background-color: transparent;
  border: purple solid;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.clock-border:hover {
  cursor: pointer;
}
